= simple_form_for([@job, @job.applications.build]) do |f|
  = f.input :name, label: "Name"
  = f.input :surname, label: "Surname"
  = f.input :email, label: "Email"
  = f.input :phone, label: "Phone"

  =f.submit 'Apply', :class => 'btn btn-default'
  = link_to 'Back', job_path(@job), class: "btn btn-default"
